* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@font-face {

    font-family: 'Poppins Black';
    src: url('Font/Poppins-Black.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Black Italic';
    src: url('Font/Poppins-BlackItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Bold';
    src: url('Font/Poppins-Bold.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Bold Italic';
    src: url('Font/Poppins-BoldItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Extra Bold';
    src: url('Font/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Extra Bold Italic';
    src: url('Font/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Extra Light';
    src: url('Font/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Extra Light Italic';
    src: url('Font/Poppins-ExtraLightItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Italic';
    src: url('Font/Poppins-Italic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Light';
    src: url('Font/Poppins-Light.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Light Italic';
    src: url('Font/Poppins-LightItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Medium';
    src: url('Font/Poppins-Medium.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Medium Italic';
    src: url('Font/Poppins-MediumItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Regular';
    src: url('Font/Poppins-Regular.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Semi Bold';
    src: url('Font/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Semi Bold Italic';
    src: url('Font/Poppins-SemiBoldItalic.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Thin';
    src: url('Font/Poppins-Thin.ttf') format('truetype');
}
@font-face {

    font-family: 'Poppins Thin Italic';
    src: url('Font/Poppins-ThinItalic.ttf') format('truetype');
}

  

body {
    font-family: 'Poppins-Light', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins Light', sans-serif;
    font-weight: 100;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: relative;
    background-color: #649277;
    font-family: 'Poppins Bold Italic';
    font-size: 56px;
    color: #fff;
    padding: 50px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con poca opacidad (RGBA con el último valor 0.5) */
}

.homebutton{
    position: absolute;
    top: 0;
    left: 10;
    fill: #fff;
}

#titulo{
    position: relative;
    left: 50%;
    top: 45px;
    transform: translate(-50%, -50%);
}

.mapa{
    position: relative;
    top: 50px;
    left: 1000px;
    stroke: #fff;
    stroke-width: 1px;
 }

.introduccion {
    position: absolute;
    top: 270px;
    left: 50px;
    right: 230px;
    font-family: 'Poppins Light';
    font-size: 24px;
    text-align: center;
    color: #333;

}

#filtros {
    text-align: center;
}

.filtro {
    display: inline-block;
    position: relative;
    top: 13px;
    padding: 5px 10px;
    font-size: 13px;
    font-family: 'Poppins Semi Bold';
    background-color: #649277;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    border-radius: 15px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    position: absolute;
    left: 100px;
    top: 450px;
    height: 300px;
    background-color: transparent;
    border: none;
}

.highcharts-data-table table {
    font-family: 'Poppins Medium';
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-family: 'Poppins Medium';
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f8f8f8;
}

.slidecontainer{
    position: absolute;
    top: 450px;
    right: 400px;
    background-color: none;
    
}

.slider{
    -webkit-appearance: none;
    width: 175%;
    height: 10px;
    background-color: lightgray;
    outline: none;
    outline: none;
    opacity: 1;
    border-radius: 12px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}



#csv {
    display: none;
}

main {
    padding: 0px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
