
    #filtros {
        text-align: center;
    }
    .filtro {
        display: inline-block;
        padding: 5px 10px; /* Ajusta el padding según tus preferencias */
        font-size: 12px;
        background-color: #739759; /* Color de fondo */
        color: #fff; /* Color del texto */
        text-decoration: none; /* Elimina el subrayado del enlace */
        margin: 4px; /* Espacio entre botones */
        border-radius: 5px; /* Borde redondeado */
        font-family: "Abel", sans-serif;
    }
