/* Estilos para el menú desplegable */
.dropdown {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 200px; /* Ancho del menú desplegable */
    height: 100%; /* Altura del menú desplegable que ocupa toda la página */
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical si es necesario */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

#imagenActivadora {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("Imagenes/foto\ menu.png");
    background-size: 30px;
}

/* Estilos para el encabezado */
header {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Glacial Indifference", sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
}

/* Estilos home */
.round-button {
display: block;
width: 200px;
height: 200px;
line-height: 200px;
background-color: #dbb134;
color: #fff;
border-radius: 50%;
text-decoration: none;
text-align: center;
margin: 0 auto; /* Centra horizontalmente el botón en el centro de la página */
font-size: 24px;
font-family: "Glacial Indifference", sans-serif;
}

p {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.5;
    text-align: justify; /* Centra el párrafo */
    font-size: 16px; /* Cambia el tamaño de la fuente a 16 píxeles (ajusta según tu preferencia) */
    font-family: "Glacial Indifference", sans-serif;
}

/* Estilos para el menú de filtros */
.filter-menu {
    padding: 10px;
}

/* Estilos para la lista de filtros sin puntos */
.filter-list {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
}

.filter-list li {
    margin: 10px 0; /* Añade margen superior e inferior a cada elemento de la lista */
}

.filter-list label {
    display: inline-block; /* Coloca las etiquetas en línea con los elementos de la lista */
}

/* Estilos para las listas de filtros */
.filter-list {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
}

.filter-list li {
    margin: 10px 0; /* Añade margen superior e inferior a cada elemento de la lista */
}

.filter-list label {
    display: inline-block; /* Coloca las etiquetas en línea con los elementos de la lista */
}

.filter-title {
    cursor: pointer; /* Cambia el cursor al puntero al pasar sobre el título */
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 500px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#csv {
    display: none;
}
